<div class="snap">
  <a class="pad" href="https://kyropy.neocities.org/">
    <img src="https://kyropy.neocities.org/images/kyropybutton.svg" alt="Kyropy Button">
  </a>
  <a class="pad" href="https://maxy.top/">
    <img src="https://maxy.top/static/maxybutton2.png" alt="Maxy Button">
  </a>
  <a class="pad" href="https://microspinny.zip/">
    <img src="https://microspinny.zip/static/button_1.avif" alt="Micro Button">
  </a>
  <a class="pad" href="https://freeplay.floof.company/">
    <img src="https://freeplay.floof.company/assets/buttons/free.gif" alt="Floof Company">
  </a>
  <a class="pad" href="https://mystie.dev/">
    <img src="https://mystie.dev/st/img/mystie_btn.png" alt="Mystie Button">
  </a>
  <a class="pad" href="https://afellowu.neocities.org/">
  <img src="https://afellowu.neocities.org/images/buttons/mebi_county.gif" alt="Mebi County">
  </a>
  <a class="pad" href="https://sillydomain.name/">
  <img src="https://sillydomain.name/assets/buttons/benjae.png" alt="Silly Domain Name">
  </a>
  <a class="pad">
  <img src="/images/buttons/madebyahuman.svg" alt="Made by a human! Not AI..">
  </a>
  <a class="pad" href="https://ublockorigin.com/">
  <img src="/images/buttons/ublock.png" alt="UBlock Origin now!!">
  </a>
  <a href="https://synth.download">
    <img src="https://synth.download/assets/buttons/synth.download.svg" alt="Sneexy">
  </a>
</div>

<style>
.snap {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
}

.pad {
  padding-right: 8px;
  padding-bottom: 8px;
}
</style>
