<div class="snap">
  <a class="pad" href="/images/fanarts/Droobert/Messenger_creation_4B582DC9-0291-4300-B8C4-CFFF578FD19D.png">
    <img src="/images/fanarts/Droobert/Messenger_creation_4B582DC9-0291-4300-B8C4-CFFF578FD19D.png" alt="4 Droobs in 1! A beeg one sitting with cross legs, 3 more smol ones, one happily embraced with a gay men colored blanket, second one being a head looking at something and the third one standing waving hello">
  </a>
  <a class="pad" href="/images/fanarts/Droobert/Messenger_creation_625BBC65-6382-42A5-B5C0-9105AC275379.jpeg">
    <img src="/images/fanarts/Droobert/Messenger_creation_625BBC65-6382-42A5-B5C0-9105AC275379.jpeg" alt="Me and my supposed classmate together :3">
  </a>
  <a class="pad" href="/images/fanarts/Droobert/Messenger_creation_6D8A57FE-CC83-45A5-8792-1DC2211F2F8D.jpeg">
    <img src="/images/fanarts/Droobert/Messenger_creation_6D8A57FE-CC83-45A5-8792-1DC2211F2F8D.jpeg" alt="Droobert paws doodle">
  </a>
</div>

<style>
.snap {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
}

.pad {
  padding-right: 8px;
}

img {
  width: 35%;
  height: auto;
}
</style>
